/* ----- Universal Styling ------ */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* ----- Header Styling ------ */

h1,
nav {
    display: inline-block;
}

header {
    background: #000;
    color: white;
    padding: 25px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
}

header nav {
    margin-left: 180px;
}

header a {
    color: silver;
    text-decoration: none;
    transition: .5s;
}

header a:hover {
    color: red;
    transition: .5s;
}

header li {
    display: inline-block;
    margin: 0px 30px;
}

/* ----- Body Styling ------ */

.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: sohne,arial,sans-serif;
}

.ls-image-left {
    float: left;
    margin: 0 20px 20px 0;
}

.ls-float-left {
    background-color: #c4c4c4;
    padding: 65px 25px;
    border-radius: 50px 10px;
    margin: 10px 0px;
}

.custom-text {
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}

/* ----- Position Styling ------ */

.text-image-container {
    position: relative;
    max-width: 600px;
}

.text-container {
    position: absolute;
    bottom: 0;
    color: black;
    padding: 5px 25px;
}

/* ----- Animations ------ */

@keyframes movement {
  from{
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.is-image {
  animation: movement 5s infinite linear
}
